<app-cabecera></app-cabecera>
<app-menu></app-menu>

<div class="divContenedorAmbos">
  <!-- First Container -->
  <div id ="quiwn" class="divQuienSoy">
    <h2 class="margin">Quién Soy?</h2>
    <img src="./assets/imagenes/quiensoy.jpg" class="img-responsive img-circle margin imagenPerfil" style="display:inline" alt="Bird" width="350" height="350">
    <h3>Adrian Brizuela</h3>
  </div>

  <!-- Third Container (Grid) -->
  <div id ="donde" class="divJuegoPropio">
    <h2 class="margin">Reglas del Juego de Reflejos</h2>
    <br>
    <div class="row-sm-6">
      <p>1.- Presiona el cuadro blanco para comenzar</p>
      <p>2.- Espera a que el cuadro rojo cambie de color para obtener el resultado</p>
      <p>Nota: Si presionas antes de que el cuadro rojo cambie de color, perdiste.</p>
      <img src="./assets/imagenes/Reflejos.gif" class="img-responsive margin imagenDeQuienSoy"  alt="Image">
    </div>
  </div>
</div>
