.divTablero
{
  width: 60%;
  margin: auto;
  background-color: black;
}

.divTateti
{
  background-color: rgba(0, 48, 73, 0.7);
  border-radius: 10px;
  width: 40%;
  margin: auto;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1
{
  text-align: center;
}

.big
{
  font-size: 30px;
  text-align: center;
}

.gridTile
{
  font-size: xx-large;
  color: black;
}
