.divTablero
{
  width: 60%;
  margin: auto;
  background-color: black;
}

.divTateti
{
  background-color: #003049;
  border-radius: 10px;
  width: 40%;
  margin: auto;
  color: white;
}
h1
{
  text-align: center;
}

.big
{
  font-size: 30px;
  text-align: center;
}

.gridTile
{
  font-size: xx-large;
  color: black;
}
