<div class="divTateti">
  <h1>TaTeTi</h1>
  <div *ngIf="isHumanTurn" class="big">Turno Jugador</div>
  <div class="divTablero">
    <mat-grid-list cols="3" rowHeight="130px" gutterSize="5px">
      <mat-grid-tile class="gridTile"
          *ngFor="let tile of tiles; let i = index"
          [colspan]="tile.cols"
          [rowspan]="tile.rows"
          [style.background]="tile.color"
          (click)="setMove(i)">
        {{tile.text}}
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div *ngIf="isHumanWinner" class="big">Ganaste!</div>
  <div *ngIf="isComputerWinner" class="big">Perdiste!</div>
</div>

