<div class="wrapper">
  <h1>Presiona un cuadro para empezar</h1><br><br>
  <table>
    <tr>
      <td><button class="board" id="c00"></button></td>
      <td><button class="board" id="c01"></button></td>
      <td><button class="board" id="c02"></button></td>
    </tr>
    <tr>
      <td><button class="board" id="c10"></button></td>
      <td><button class="board" id="c11"></button></td>
      <td><button class="board" id="c12"></button></td>
    </tr>
    <tr>
      <td><button class="board" id="c20"></button></td>
      <td><button class="board" id="c21"></button></td>
      <td><button class="board" id="c22"></button></td>
    </tr>
  </table>
  <button id="restart">Juego nuevo</button>
  <div id="dialog-4" title="Player Selection">Elegir jugador</div>
</div>
