.card {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  height: 10%;
  margin: 10px;
  padding-bottom: 10px;
  float: left;
  background-color: rgba(0, 48, 73, 0.55);
  text-align: center;
  color: white;
  z-index: 0;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 10px;
}/* Add some padding inside the card container */
.containerCosas {
    padding: 2px 16px;
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

.imgThumbnail
{
  position: relative;
  width: 25% !important;
  height: 93px !important;
  margin-top: 1vh;
  margin-left: 1vh;
}

.buttonJugar{
    position: relative;
    border: none;
    width: auto;
    background-color: black;
    color: white;
    height: 40%;
    margin-top: 5.5vh;
    margin-right: 5vh;
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
  }

.buttonJugar:before,
.buttonJugar:after
{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(90deg, #4fcf70,#fad648,#a767e5,#12bcfe,#44cd77,#12bcfe,#a767e5,#fad648,#4fcf70);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: animate 20s linear infinite;
  border-radius: 10px;
}

.buttonJugar:after
{
  filter: blur(10px);
}

@keyframes animate
{
  0%
  {
    background-position: 0 0;
  }
  50%
  {
    background-position: 300% 0;
  }
  100%
  {
    background-position: 0 0;
  }
}

.pepe
{
  display: flex;
  flex-direction: row;
}

.divTexto
{
  margin-top: auto;
}
