<div class="containerCosas" >
    <div class="card">
      <img class="imgThumbnail" src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
      <div>
        <h3>Agilidad aritmética </h3>
        <p class="title">Juego de agilidad mental</p>
      </div>
      <p>           <button class="button"  (click)="Juego('Agilidad')">Jugar</button></p>

    </div>

    <div class="card">
      <img class="imgThumbnail" src="./assets/imagenes/ppt.jpg" alt="Avatar" style="width:100%">
      <div>
        <h3>Piedra Papel o Tijera</h3>
        <p class="title">Juega contra la máquina</p>
      </div>
      <p>           <button class="button"  (click)="Juego('PPT')">Jugar</button></p>
    </div>

    <div class="card">
      <img  class="imgThumbnail"  src="./assets/imagenes/adivina.png" alt="Avatar" style="width:100%">
      <div>
        <h3>Adivina el número secreto</h3>
        <p class="title">Juego de estrategia</p>
      </div>
      <p>           <button class="button"  (click)="Juego('Adivina')">Jugar</button></p>
    </div>

    <div class="card">
      <img class="imgThumbnail"   src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
      <div>
        <h3>Anagrama </h3>
        <p class="title">Forma una palabra con letras desordenadas</p>
      </div>
      <p>           <button class="button"  (click)="Juego('Anagrama')">Jugar</button></p>
    </div>

    <div class="card">
      <img class="imgThumbnail"   src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
      <div>
        <h3>Tateti </h3>
        <p class="title">Forma una linea de 3 del mismo simbolo para ganar</p>
      </div>
      <p>           <button class="button"  (click)="Juego('Tateti')">Jugar</button></p>
    </div>

    <div class="card">
      <img class="imgThumbnail"   src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
      <div>
        <h3>Memotest </h3>
        <p class="title">Prueba de memoria...memo-test.</p>
      </div>
      <p>           <button class="button"  (click)="Juego('Memotest')">Jugar</button></p>
    </div>

    <div class="card">
      <img class="imgThumbnail"   src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
      <div>
        <h3>Reflejos </h3>
        <p class="title">Medi tu velicidad de reaccion</p>
      </div>
      <p>           <button class="button"  (click)="Juego('Reflejos')">Jugar</button></p>
    </div>
</div>
