<div class="pepe">
  <div class="containerCosas" >
      <div class="card">
        <img class="imgThumbnail" src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
        <div class="divTexto">
          <h3>Agilidad aritmética </h3>
          <p class="title">Juego de agilidad mental</p>
        </div>
       <button class="buttonJugar"  (click)="Juego('Agilidad')">Jugar</button>
      </div>

      <div class="card">
        <img class="imgThumbnail" src="./assets/imagenes/ppt.jpg" alt="Avatar" style="width:100%">
        <div class="divTexto">
          <h3>Piedra Papel o Tijera</h3>
          <p class="title">Juega contra la máquina</p>
        </div>
        <button class="buttonJugar"  (click)="Juego('PPT')">Jugar</button>
      </div>

      <div class="card">
        <img  class="imgThumbnail"  src="./assets/imagenes/adivina.png" alt="Avatar" style="width:100%">
        <div class="divTexto">
          <h3>Adivina el número secreto</h3>
          <p class="title">Juego de estrategia</p>
        </div>
        <button class="buttonJugar"  (click)="Juego('Adivina')">Jugar</button>
      </div>

      <div class="card">
        <img class="imgThumbnail"   src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
        <div class="divTexto">
          <h3>Anagrama </h3>
          <p class="title">Forma una palabra con letras desordenadas</p>
        </div>
        <button class="buttonJugar"  (click)="Juego('Anagrama')">Jugar</button>
      </div>
  </div>
  <div class="containerCosas" >
      <div class="card">
        <img class="imgThumbnail"   src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
        <div class="divTexto">
          <h3>Tateti </h3>
          <p class="title">Forma una linea de 3 del mismo simbolo para ganar</p>
        </div>
        <button class="buttonJugar"  (click)="Juego('Tateti')">Jugar</button>
      </div>

      <div class="card">
        <img class="imgThumbnail"   src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
        <div class="divTexto">
          <h3>Memotest </h3>
          <p class="title">Prueba de memoria...memo-test.</p>
        </div>
        <button class="buttonJugar"  (click)="Juego('Memotest')">Jugar</button>
      </div>

      <div class="card">
        <img class="imgThumbnail"   src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
        <div class="divTexto">
          <h3>Reflejos </h3>
          <p class="title">Medi tu velicidad de reaccion</p>
        </div>
        <button class="buttonJugar"  (click)="Juego('Reflejos')">Jugar</button>
      </div>
  </div>
</div>
