<app-cabecera></app-cabecera>
<div class="divContainer">
  <p><b>Email</b></p>
  <input type="text" placeholder="Ingresa tu correo" name="email" [(ngModel)] = "usuario" required>

  <p><b>Clave</b></p>
  <input type="password" placeholder="Aca la clave" name="psw" [(ngModel)] = "clave" required>

  <p><b>Repita la clave</b></p>
  <input type="password" placeholder="Aca repeti la misa clave  de arriba" name="psw-repeat" [(ngModel)] = "confirmaClave" required>
  <br>
  <br>
  <div class="clearfix">
    <button type="button" class="cancelbtn" routerLink="/Login">Me arrepenti</button>
    <button type="submit" class="signupbtn" (click)="OnSubmitRegister()">Registrarme</button>
  </div>
  <br>
</div>

