<app-cabecera></app-cabecera>
<div class="divContainer">
  <form action="return true;">
     <div class="container">
      <label><b>Email</b></label>
      <input type="text" [(ngModel)]="usuario"  name="uname" required>

      <label><b>Password</b></label>
      <input type="password" [(ngModel)]="clave" name="psw" required>

      <button (click)="OnSubmitLogin()">Ingresar</button>
      <button (click)="InicioRapido()">Inicio Rapido</button>
    </div>

    <div class="container">
      <button type="button" class="aceptbtn" routerLink="/Registro" >Registrarse</button>
    </div>
  </form>
</div>

