<nav class="navBar">
  <div class="divGitQuienSoy">
      <span class="btnFalso"><a class="gitQuienSoy" href="https://github.com/aabrizuela"target="_blank">Mi GitHub <i class="fa fa-github"></i></a></span>
      <span class="btnFalso"><a class="gitQuienSoy" routerLink="/QuienSoy" >Quien Soy? <i class="fa fa-user"></i></a></span>
  </div>
  <p class="pTitulo">Sala de Juegos - Adrian Brizuela</p>
  <div class="divLoginRegister">
    <button class="btnNav"><a class="loginRegister" routerLink="/Registro">Registrarse</a></button>
    <button class="btnNav"><a class="loginRegister" routerLink="/Login">Ingresar</a></button>
  </div>
</nav>

