.divPrincipal
{
  z-index: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #003049;
  justify-content: space-around;
  align-items: center;
  display: flex;
  padding: 2%;
  left: 35%;
  right: 35%;
  bottom: 25%;
  top: 25%;
  border-radius: 50px;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.btnNuevo
{
  border-radius: 10px;
  background-color: #f77f00;
  border-style: none;
  width: 40%;
  height: 15%;
  font-size: x-large;
}

.inputRes
{
  border-radius: 10px;
  border-style: none;
  height: 10%;
  width: auto;
}
